@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.hero {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url('./assets/Vector.svg');
}

.intro{
  max-width: fit-content;
}

.intro span{
    transform:scale(1.5,1); /* W3C */
}